---
---
/*text CSS*/
h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
  line-height: 1em auto;
  color: #598ab6;
  padding-left: 30px;
  padding-top: 50px;
  position: fixed, center;
  padding-bottom: 0;

}

h2 {
  text-align:relative;
  padding-top: 50px;
  padding-bottom: 15px;
  font-family: 'Amatic SC', cursive;
}
h3 {
    text-align: center;
    font-size: 120px;
    font-family: 'Amatic SC', cursive;
    line-height: 1em auto;
    color: #92ba9d;
    padding-left: 30px;
    padding-top: 50px;
    position: fixed, center;
    padding-bottom: 0;
    width: auto;

}
a{
  padding-bottom: 15px;
}
.homepage1 {
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
}

/* unvisited link */
a:link {
  color: #3399FF;
}

/* visited link */
a:visited {
  color: #3399FF;
}

/* mouse over link */
a:hover {
  color: #92ba9d;
}

/* selected link */
a:active {
  color: #3399FF;
}

/*Navbar CSS*/

#nav{
  padding-top: 30px;
  height: 60px;
}

.navlogo {
  height:80px;
  width: 60px;
}



.container-fluid {
  padding:0;
}

/*this is the about us css*/
.photo-grid {
  margin: 1em auto;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 40px;
  display: block;
}

.photo-grid li {
  display: inline-block;
  margin: 1em;
  /*width: 410px;
  height: 380px;*/
  border-radius: 40px;

}


.photo-grid figure {
  overflow: hidden;
  position: relative;
  width: auto;
  height: auto;
  border-radius: 40px;


}

.photo-grid li:hover figcaption {
  opacity: 0.75;
    transition: 1000ms, ease-out;

}

.photo-grid img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius:40px;
}

.photo-grid figcaption {

  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  background-color: none;
  border-radius: 40px;
  top: 0;
  *z-index: 200;
  width: 243px;
}

.photo-grid figcaption p {
  color: white;
  font-size: 1.2em auto;
  position: relative;
  top: 0;
  width: 258px;
  height: 100%;
  text-align: center;
  vertical-align: center;
  background-color: black;
  border-radius: 40px;
  padding:0 10px;

}

/*Project Page CSS*/

#projectDays {
  position: relative;
	width:auto;
	height:auto;
  border: 0;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;

}

.projectPictures {
    height:auto;
    width:auto;
    display: inline-block;
    border-radius:15px;
    opacity: 0.8;
    filter: alpha(opacity=40);
}
.projectPictures:hover{
    opacity: 1.0;
    filter: alpha(opacity=10);

}

.LYN {
  float: none;
}


.week6img {
  max-height: 400px;
}

/*These are classes for backgrounds on the contact page widgets.*/

#socialmediainsta {
  padding-top: 100px;

}

.iframe-wrapper {
  text-align: center;
}


/*these are background page's css*/

#cbackgroundimg {
  background-color: #327389;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding:50px;
  height: 100%;
}

.fb-like-box {
  width: 378px;
  background-color: #333333;
}

#contact-us-title {
  font-size: 52px;
  color: white;
  padding-bottom: 40px;
}

/*blog posts css*/
.blogimages {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*TWITTER API PAGE*/

#twitterapi {
    font-family: 'Amatic SC', cursive;
    font-size: 1000;
}

.inserttweets {
font-family: 'Amatic SC', cursive;

}

.hashtag {
  color: #598ab6;
}

.twitcaption1 {

    margin-bottom: 15px;
    margin-top: 320px;
    display: block;
    color: #b52f5a;
    position: absolute;
    bottom: 0;
    padding-left: 10px;

}
.twitcaption1 p {
  margin-top: :320px;
}

.twitcaption2 {

    margin-bottom: 15px;
    display: block;
    color: #598ab6;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
}

.twitcaption3 {

    margin-bottom: 15px;
    display: block;
    color: #92ba9d;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
  }


/*NewsPage font size*/
.guardiantext a{
font-size: 15px;
}

/*D3 Map*/
#map {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 360px;
  stroke: #8aae93;
  stroke-width: 1px;
/*0033668*/  background-color: #568bb8;
  stroke-linejoin: round;
  border-width: 5px;
  height:650px;
}

.btn-primary{
  margin-top:40px;
  margin-left: 350px;
  text-align:center;
  width:270px;
  background-color: #f89d61;
  opacity: 0.8;
}
.btn-primary:hover{
		opacity: 1.0;
    background-color:#f89d61;
    border-width: 5px;
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 0;
    border-color: #357ebd;
    margin-bottom:-10px;
}

.btn-primary:active{
  background-color:#f89d61;
}
.btn-primary:focus{
  background-color:#f89d61;
}

.btn-danger{
  margin-top:40px;
  margin-left: 10px;
  margin-right: 350px;
  width:270px;
  background-color:#bc365e;
  border-color: #568bb8;
  opacity: 0.8;
}

.btn-danger:hover{
    opacity: 1.0;
    background-color:#bc365e;
    border-width: 5px;
    box-shadow: 10px 10px 5px #888888;
    border-color: #357ebd;
    margin-bottom: -10px;
}

.btn-danger:active{
  background-color:#bc365e;
}

.btn-danger:focus {
  background-color:#bc365e;
}

//footer

.footer-row img {
  padding-bottom: 100px;
}

.footer-wrapper {
  height: 150px;
}

.footer-heading{
  padding-left: 153px;
  padding-top: 0px;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}


.icon {
  float: left;
  padding-left: 153px;
  margin: 40px;
  height: 100px;
  margin-top: 0px;
}
