---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;





.nav li{
  display:inline;
  
}

#navimg {
  height: 150px;
  width: 75px;
  
}

.nav a {
    color:#5a5a5a;
    font-size:16px;
    font-weight:bold;
    padding-top:14px;
    padding-bottom:14px;
    padding-left:10px;
    padding-right:10px;
    text-transform:uppercase;
  
    }

.jumbotron {
  height:1000px;
  width:2000;
  background-image:url('http://i.imgur.com/NkfWoHB.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  
}

.jumbotron h1{
  color: #FFFFFF;
  font-weight:bold;
  font-size:60px;
}
.jumbotron p{
  font-size:24px;
}

.jumbotron .container{
  position:relative;
  top:100px;
  color: #C0C0C0;
  text-align: relative;
}

//a.anchor {
// display: block; 
//  position: relative; 
  //top: -250px; 
  //visibility: hidden
//}
//h1 {
//  font-family: 'Amatic SC', cursive;
 // font-size: 90px;
//  line-height: 1em;
//  color: #20f9c8;
//   display: inline;

// padding-left: 30px;

//}

//.photo-grid {
//	margin: 1em auto;
//	max-width: 1160px;
//  max-height: 3000px;
//	text-align: center;
//  border-radius: 40px;
//}
 
//.photo-grid li {
//	display: inline-block;
//	margin: 1em;
//	width: 410px;
//  height: 380px;
//  border-radius: 40px
  
//}
 
 
//.photo-grid figure {
//	overflow: hidden;
//	position: relative;
//      width: 410px;
//    height: 480px;

  
//}

//.photo-grid li:hover figcaption {
//	opacity: 0.75;
//    transition: 1000ms, ease-out;
  
//}

//.photo-grid img {
//	display: block;
//	width: 410px;
//  height: 480px;
//  border-radius: 40px;
//}
 


//.photo-grid figcaption {

//	display: table-cell;
	//width: 410px;
  //height: 480px;
	
	//opacity: 0;
	//position: absolute;
  //background-color: none;
  //border-radius: 40px;
	
	//top: 40px;
 

 // *z-index: 200;
//}

//.photo-grid figcaption p {
//   color: white;
//	display: table-cell;
//	font-size: 1.0em;
//	position: relative;
//	top: -40px;
//	width: 410px;
//  height: 480px;
//	vertical-align: middle;
//  background-color: black;
// border-radius: 25px;
  
//}







// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
