

<body>
<div class="row" id="abackgroundimg">

  <div class="col-md-12">
          <h1> The KODE I.V. Four </h1>
  </div>

  <div class="col-md-12">
          <ul class="photo-grid">

<div class="col-md-3 col-sm-6 col-xs-12">
          <li>
            <figure>
              <img src='http://s28.postimg.org/3wham9q65/photo_1.jpg' border='0' alt="photo 1" >
            <figcaption><p> <br><br>Hi, I’m Naomi. <br> I want to learn the skills to build <br>  functional and fun apps and websites that people want to <br> use. Hopefully I will make a <br> little bit of money doing <br>it along the way.</p></figcaption>
            </figure>

          </li>
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
            <li>
            <figure>
              <img src='http://s30.postimg.org/6xf8ajxfl/photo_2.jpg' border='0' alt="photo 2" >
            <figcaption><p><br>Hi, I'm Max, <br> before this I was flipping <br> pancakes, in a creperie, that I helped to set up. <br>  I found a passion for code when I started thinking about <br>  creating a website for my small business. <br> In the future I will be king <br>  of both the tech and <br> culinary world.  </p></figcaption>
            </figure>

          </li>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
         <li>
            <figure>
              <img src='http://s23.postimg.org/idq8mr8rv/photo_3.jpg' border='0' alt="photo 3" >
            <figcaption> <p><br> Hi, I’m Nat. <br> I applied for Founders & Coders <br>  because I’m working on a <br> couple of start-up ideas <br> with a friend from Uni, and <br> I want to be able to make <br> my ideas a reality without <br> relying on someone else to <br> do it for me. </p></figcaption>
            </figure>

          </li>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
          <li>
            <figure>
              <img src='http://s16.postimg.org/5s06j2jdx/photo_4.jpg' border='0' alt="photo 4" >
            <figcaption><p><br>Hi, I'm Joe. <br> An aspiring entrepreneur. <br> Most recently I have been creating communities for <br> for like-minded people <br> within the industry. I am going to use the code <br>  I learn to further <br>  develop my website, so that people can find each other <br> online.</p></figcaption>
            </figure>
          </li>
</div>
          </ul>
  </div>
</div>
</body>
