<footer class="site-footer">

<div class="wrapper">

  <h2 class="footer-heading">Proudly part of:</h2>
  <div class="row">
<div class="col-xs-12 col-md-4"><a href="http://camdencollective.co.uk/" target="_blank"><img class="icon" src="/images/cclogo.jpg"/></a></div>
<div class="col-xs-12 col-md-4"><a href="http://foundersandcoders.org/" target="_blank"><img class="icon" src="/images/fnclogo.png" /></a></div>
<div class="col-xs-12 col-md-4"><a href="http://www.camdentownunlimited.com/" target="_blank"><img class="icon" src="/images/CTU-Logo.png" /></a></div>
</div>
</footer>
