<footer class="site-footer">

<div class="footer-wrapper">

  <h2 class="footer-heading">Proudly part of:</h2>
  <div class="footer-row">
<div ><a href="http://camdencollective.co.uk/" target="_blank"><img class="icon" src="/images/cclogo.jpg"/></a></div>
<div><a href="http://foundersandcoders.org/" target="_blank"><img class="icon" src="/images/fnclogo.png" /></a></div>
<div><a href="http://www.camdentownunlimited.com/" target="_blank"><img class="icon" src="/images/CTU-Logo.png" /></a></div>
</div>
</div>
</footer>
