
<!--<!DOCTYPE html>
<html>
<head>
  
  <title>
 
  </title>
  
</head>-->
  
<body>

 <!--<div class="nav">
  <div class="container">
  <ul class="pull-left">
     
    <li></li>
    <li> 
        <img src="/images/logo3.png" class="navlogo"/>
                </li>
    </div>
  </ul>
    
  <ul class="pull-right">
      <li><a href="homepage.html">Home</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="news.html">News</a></li>
      <li><a href="contactus.html">Contact us</a></li>
  </ul>
  </div>-->
  </div>
  
  <div class="jumbotron">
    <div class="container">
    <h1>Welcome to KodeIV,</h1>
    <p>We code, we blog and we love to work hard. Follow us on our journey.   </p>
      <p>See our <a href="projects.html">projects</a></p>
      </div>
    </div>
    </div>
  
</body>
</html>